{% include "navbar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <form action="{{ url_for('edit_notes', note_id=note_id) }}" method="post">
            {{ form.csrf_token }}
            {% for field in form %}
                {% if field.name == "id" or field.name == "csrf_token" %}
                    <div></div>
                {% elif field.name == "category_id" %}
                    <div class="row">
                        <div class="input-field col s12">
                            <select>
                                <option value="">Choose your option</option>
                                {% for category in user_categories %}
                                    <option value="{{ category.id }}">{{ category.category_title }}</option>
                                {% endfor %}
                            </select>
                            <label>Choose categories</label>
                        </div>
                    </div>
                {% elif field.name == "image" %}
                    <div class="row">
                        <input class="waves-effect waves-light btn" type="file" name="{{ field.name }}">
                    </div>
                    <div class="col-25">
                        {% for error in field.errors %}
                            <div class="error" style="color: red">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ field(class_="validate") }}
                            {{ field.label }}
                        </div>
                        <div class="col-25">
                            {% for error in field.errors %}
                                <div class="error" style="color: red">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
            <button class="waves-effect waves-green btn" type="submit">Update</button>
        </form>
    </div>

</div>
</body>
<script>
    M.AutoInit()
</script>
</html>