{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav>
    <div class="nav-wrapper orange">
        <img src="{{ url_for(" static", filename="images/google_keeps.svg") }}"
        style="height: 95%; width: 4%; padding-top: 0.23rem; padding-left: 0.5rem">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <form>
                    <div class="input-field center">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </li>
            <li><a id="create_note" class="waves-effect waves-light btn modal-trigger" href="#create_note_modal">Create
                note</a></li>
            <li><a href="{{ url_for(" logout") }}">Log out</a></li>
        </ul>
    </div>
</nav>

<div id="create_note_modal" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

</body>

<script>
    M.AutoInit();


</script>
</html>